@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.userinfo_layout{
    width: 100%;
    height: calc(100% - 0px);
    padding:40px 20px 70px 20px;
    display: flex;
    flex-direction: column;
    gap:10px;
    z-index: 5;
    font-family: "Noto Serif", serif;
}